@import "tailwindcss";

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #161616;
  --foreground: #ededed;
  --font-custom: "MyCustomFont", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-custom: var(--font-custom);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-custom), Arial, Helvetica, sans-serif;
}